In [1]:
import pandas as pd
import pycountry_convert as pc

df = pd.read_csv("data/owid-energy-data(cleaned).csv")

In [5]:
newdf = pd.DataFrame()
newdf
energy_type_lst = [
    "biofuel", "coal", "fossil_fuel", "gas", "hydro", 
    "low_carbon", "nuclear", "oil", "other_renewable", 
    "renewables", "solar", "wind"
]
newdf["energy"] = energy_type_lst

newdf

             energy
0           biofuel
1              coal
2       fossil_fuel
3               gas
4             hydro
5        low_carbon
6           nuclear
7               oil
8   other_renewable
9        renewables
10            solar
11             wind

In [11]:

df

,iso_code,country,year,biofuel_consumption,coal_consumption,fossil_fuel_consumption,gas_consumption,hydro_consumption,low_carbon_consumption,nuclear_consumption,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17428,ZWE,Zimbabwe,2016,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17429,ZWE,Zimbabwe,2017,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17430,ZWE,Zimbabwe,2018,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17431,ZWE,Zimbabwe,2019,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
row = df.loc[[2]]
# is_null_row = row.isnull()
# is_null_row = is_null_row.values.tolist()
# is_null_row


# row = row.values.tolist()
# row[0][1]
# is_null_row[0][3] == True

# pd.isna(row[0])

row = row.values.tolist()[0][3]
# pd.isna(row[0][3])

# df.loc[[1]]
pd.isna(row)
newdf

             energy
0           biofuel
1              coal
2       fossil_fuel
3               gas
4             hydro
5        low_carbon
6           nuclear
7               oil
8   other_renewable
9        renewables
10            solar
11             wind

In [6]:
# insert average consumption across 
# all countries per year as columns into newdf

biofuel_sum = []
coal_sum = []
fossil_fuel_sum = []
gas_sum = []
hydro_sum = []
low_carbon_sum = []
nuclear_sum = []
oil_sum = []
other_renewable_sum = []
renewables_sum = []
solar_sum = []
wind_sum = []





for r_index in range(len(df)):
    curr_row = df.loc[[r_index]].values.tolist()[0]

    for c_index in range(len(curr_row)):
        curr_col_val = curr_row[c_index]
        # if not NaN values
        if not pd.isna(curr_col_val):
            nuclear

,iso_code,country,year,biofuel_consumption,coal_consumption,fossil_fuel_consumption,gas_consumption,hydro_consumption,low_carbon_consumption,nuclear_consumption,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17428,ZWE,Zimbabwe,2016,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17429,ZWE,Zimbabwe,2017,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17430,ZWE,Zimbabwe,2018,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17431,ZWE,Zimbabwe,2019,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN